<style>
  body {
    background-color: #cfd8dc;
  }

  .block {
    background-image: linear-gradient(rgb(219, 216, 240), rgb(127, 127, 226));
    border: 2px solid black;
    width: 30%;
    margin-inline-start: 35%;
    height: 500px;
    font-size: 20px;
  }

  .icon {
    font-size: 90px;
    margin-left: 40%;
    margin-top: 17px;
  }

  .details {
    display: block;
    margin-inline-start: 10px;
    border-bottom: 1px solid rgb(39, 35, 35);
  }
</style>

<div class="block">
  <h1 class="icon"><i class="fa fa-user-circle"></i></h1>
  <br />
  <p class="details"><i class="fa fa-user"></i><%= result.name %></p>
  <p class="details"><i class="fa fa-envelope"></i><%= result.email %></p>
  <p class="details"><i class="fa fa-film"></i><%= result.hobbies %></p>
</div>
